h1 {
	/*Hex colour scheme*/
	color: #F4000D;
}

li {
	/*Built-In colour*/
	color: green;
}

h4 {
	/*RGB Colour Scheme*/
	color: rgb(125, 100, 255);
}

p {
	/*RGBA Colour Scheme*/
	color: rgba(125, 100, 255, 0.6);
}