h1 {
	text-align: center;
	font-size: 50px;
}

table {
	margin: auto;
}

td {
	width: 100px;
	height: 100px;
}

.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}